# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/
.tmp/
**/.tmp/
.strapi/
**/.strapi/

# Local env files (Secrets)
.env
.env.local
.env.development
.env.production
.env.test
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# IDE / Editor logs and settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
